* {
    color: #EFEFEF;
    font-size: 20px;
}

body {
    background: #000000;
}

footer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
}

footer a {
    text-decoration: none;
    color: #CD0000;
}

#problem {
    font-size: 32px;
    text-align: center;
}

.button-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
}

#game {
    display: none;
    flex-wrap: nowrap;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.field {
    padding: 5px;
    margin: 2px;
    border: 2px grey;
    text-align: center;
    font-size: 33px;
    height: auto;
}

.grey-bg {
    background-color: grey;
}

.red-bg {
    background-color: darkred;
}

.green-bg {
    background-color: green;
}

.score-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.score {
    margin-left: 3px;
}

#progressbar {
    height: 24px;
    color: green;
    width: 1%;
}

@media (orientation:landscape) {
    .row {
        flex-direction: row;
    }
    .field {
        width: 48%;
    }
}

@media (orientation:portrait) {
    .row {
        flex-direction: column;
    }

    .field {
        width: 70%;
        margin: 5px auto;
    }
}
